includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon
    - phpstan-architecture-rules.neon

parameters:
    # Level scan paling ketat
    level: max

    # Folder yang dianalisis (kode utama)
    paths:
        - app
        - Modules
        - bootstrap
        - routes
        - resources

    # Folder yang dikecualikan (non-kode atau vendor)
    excludePaths:
        - */vendor/*
        - */storage/*
        - */node_modules/*

    # Bootstrap file untuk Laravel
    bootstrapFiles:
        - bootstrap/app.php

    # Abaikan error pada ignoreErrors yang tidak ada
    reportUnmatchedIgnoredErrors: false
