includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon
    - phpstan-architecture-rules.neon

parameters:
    level: max

    paths:
        - app
        - Modules
        - bootstrap
        - routes
        - resources

    excludePaths:
        - */vendor/*
        - */storage/*
        - */node_modules/*
        - */tests/*
        - Modules/**/tests
        - Modules/**/Tests

    bootstrapFiles:
        - bootstrap/app.php

    reportUnmatchedIgnoredErrors: false
